{% extends "_layouts/main" %}


{% block main %}
{# Home Section #}
<div class="flex justify-around flex-wrap items-start pt-8 flex-grow">
    {# Homepage Text #}
    <div class="align-start pm-5 pb-28 pt-16 pr-2">
        <h1 class="text-off-white font-headerFont font-bold text-6xl text-left mb-4 max-w-[550px] leading-normal pb-2">
            {{ entry.title }}
        </h1>
        <p class="text-off-white text-[20px] text-left font-mainFont max-w-[550px]">{{ entry.subtext}}</p>
    </div>
    
    <img class="logo-image w-[650px] pr-4" src="{{ siteUrl }}/images/static/microphone.png" alt="Microphone">
</div>

{# Event Section #}
<div class="h-svh">
    <h1 class="text-off-white font-headerFont font-bold text-6xl text-center pt-16 w-full">
        Events 
    </h1>
    
    <div class="glide mx-auto w-96 overflow-hidden">
        <!-- ---------------  Slider  ---------------- -->
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides flex p-0 mt-0 mb-0">
                <li class="glide__slide flex-none rounded-lg text-gray-800 bg-gray-300 text-center leading-[100px] list-none w-[300px] h-[180px] shadow-lg facebook">FACEBOOK</li>
                <li class="glide__slide flex-none rounded-lg text-gray-800 bg-gray-300 text-center leading-[100px] list-none w-[300px] h-[180px] shadow-lg instagram">INSTAGRAM</li>
                <li class="glide__slide flex-none rounded-lg text-gray-800 bg-gray-300 text-center leading-[100px] list-none w-[300px] h-[180px] shadow-lg github">GITHUB</li>
                <li class="glide__slide flex-none rounded-lg text-gray-800 bg-gray-300 text-center leading-[100px] list-none w-[300px] h-[180px] shadow-lg medium">MEDIUM</li>
                <li class="glide__slide flex-none rounded-lg text-gray-800 bg-gray-300 text-center leading-[100px] list-none w-[300px] h-[180px] shadow-lg codesandbox">CODESANBOX</li>
                <li class="glide__slide flex-none rounded-lg text-gray-800 bg-gray-300 text-center leading-[100px] list-none w-[300px] h-[180px] shadow-lg twitter">TWITTER</li>
            </ul>
        </div>
        <!-- ---------------  Controls  ---------------- -->
        <div class="glide__arrows flexo justify-between p-4" data-glide-el="controls">
            <button class="" data-glide-dir="<">
                <img src="{{ siteUrl }}/images/static/prev.png">
            </button>
            <button class="" data-glide-dir=">">
                <img src="{{ siteUrl }}/images/static/next.png">
            </button>
        </div>
    </div>

      <script type="module" src="{{ siteUrl }}/glide.js"></script>
  
      
</div>

{# About Section #}
<div class="h-svh">
    <h1 class="text-off-white font-headerFont font-bold text-6xl text-center pt-16">
        About
    </h1>
</div>

{# Contact us Section #}
<div class="h-svh">
    <h1 class="text-off-white font-headerFont font-bold text-6xl text-center pt-16 w-full">
        Let's get in touch
    </h1>
</div>
{% endblock %}
